# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.env/
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
*.egg-info/
.eggs/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Docker
# =========================
*.pid
docker-data/
postgres_data/
**/docker-compose.override.yml

# =========================
# Celery
# =========================
celerybeat-schedule
celerybeat.pid

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Coverage / testing
# =========================
.coverage
htmlcov/
pytest_cache/
.tox/

# =========================
# Build artifacts
# =========================
dist/
build/
